body {
    background-color: rgb(213, 215, 216);
}

header {
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: #27293d;
    border-radius: 8px;
    color: white;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.vehicle {
    background-color: lightcyan;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid rgb(0, 28, 44);
    margin: 10px;
    flex: 0 0 300px;
    box-sizing: border-box;
    max-width: 300px;
}

.rental {
    background-color: rgb(166, 199, 248);
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(0, 28, 44);
    margin: 10px;
    flex: 0 0 300px;
    box-sizing: border-box;
    max-width: 300px;
}

.customers {
    background-color: rgb(201, 207, 218);
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(22, 40, 51);
    margin: 10px;
    flex: 0 0 300px;
    box-sizing: border-box;
    max-width: 300px;
}

.vehicle:hover, .rental:hover, .customers:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 6px 12px black;
}

.methods {
    background-color: #f4f4f4;
    border: 3px solid #1c1c1c;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.methods h4 {
    margin: 10px 0 5px 0;
    color: #27293d;
}

.methods p {
    margin: 5px 0;
    padding-left: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #27293d;
  color: white;
  text-align: center;
}