.error {
    color: red;
}

.checkError {
    background-image: linear-gradient(135deg, #B1B6BE 0%, #FFF 100%);
    color: red;
}

form {
    background-image: linear-gradient(rgb(240, 13, 240), rgb(0, 247, 255));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 30px;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
    border-radius: 10px;
    border: 5px solid blueviolet;
}

form:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

body {
    align-items: center;
    justify-content: center;
}

label {
    font-weight: bold;
}

input[type="radio"] {
    margin-left: -400px;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}