.red {
    color: red;
}

.blue {
    color: blue;
}

.weekends {
    background-color: #d2ebd7;
}

.higheravg {
    background-color: #fff1cc;
}

.cities {
    color: #60707c;
    background-color: #ccebf0;
}

.headers {
    color: #60707c;
    background-color: #e7eaea;
}

table, td, th {
    border: 1px solid;
    width: 100%;
}

.averages {
    background-color: #d2ebd7;
}

div {
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-items: center;
}