.red {
    color: red;
}

.blue {
    color: blue;
}

.weekends {
    background-color: #d2ebd7;
}

.higheravg {
    background-color: #fff1cc;
}

.cities {
    color: #60707c;
    background-color: #ccebf0;
}

.headers {
    color: #60707c;
    background-color: #e7eaea;
}

table, td, th {
    border: 1.5px solid;
    width: 100%;
    border-radius: 3%;
    border-spacing: 2px;
    padding: 5px;
}

td, th {
    border-color: gainsboro;
    width: 70px;
}

.averages {
    background-color: #d2ebd7;
}

.averageValues {
    background-color: #e1e1e1;
    border-left: 2px solid black;
}

div {
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-items: center;
}

.lowest {
    text-decoration: underline;
    font-weight: bold;
}

.highest {
    color: brown;
    font-style: oblique;
}

#tableHeader {
    color: #fffcf5;
    background-color: #465055;
    padding: 10px;
    width: 95%;
    margin-bottom: 3px;
}

.info {
    border: 1px solid lightgray;
    margin-top: 10px;
}